*{
		margin: 0; padding: 0; box-sizing:border-box;
}

html{}
body{
		/*width:100vw; */ height:98vh; ; display:grid; background-color: rgb(230,230,230);
		place-content: stretch;
}

.p-bonus{
		display: inline-block; font-size:9.7px; padding-bottom:7px;
}

#trophy{
		width: 0.5em; margin-left:2px;
}

.mainpage {
		 background-color:transparent; display:grid; grid-template-columns:1100px 2300px; gap:70px;
}

.left-group{
    display:grid; grid-template-columns:1fr 2fr; grid-column-gap:100px; 
}

.lg-left{background-color:white; align-self:start; font-family:"arial"; font-weight:bold; padding:10px 23px 10px 23px; text-align:center;}

.lg-left p:last-child{font-size:8px; text-align:justify; font-weight:normal; line-height:1.5; color:gray}

.lg-left a{font-weight:bold;}

.lg-right{background-color:white;}

.lg-right-sub1{background-image:url(../img/bgpic2.png); background-size:670px 520px; 
background-repeat:no-repeat; background-position:right bottom; width:100%; height:500px; }

.lgrs11{display:flex; align-items:center; padding:10px 0 0 30px; height:20px;}

.lgrs11 p{font-size:8px;}

.lgrs11 > :nth-child(2){font-weight:bold; font-size:12px;}

.lgrs11 > :nth-child(3){color:white; padding:3px 0;}

.lgrs11 :last-child span{background-color: rgb(25, 26, 71); padding:3px 25px; border-radius:1px}

.headerlink{display:flex; justify-content:space-between;}

.lgrs11 p, .headerlink {flex-basis:33.3%; text-align:center;}

.lgrs12{display:grid; grid-template-columns: 1fr 1fr; grid-template-rows:1fr; height:480px;}

.lgrs12l{grid-row:1; place-self:center right; }

.lgrs12l :nth-child(1){font-size:25px; font-weight:bold; margin-bottom:10px;} 

.lgrs12l :nth-child(2){font-size:9px; padding-bottom:10px; line-height:1.5;
  margin-bottom:20px; color:gray;
} 

.lgrs12l :nth-child(3) :nth-child(1) {background-color:  rgb(25, 26, 71); color:white; margin-right:10px; border-radius:1px} 

.lgrs12l :nth-child(3) p{font-size:8px; display:inline-block; width:100px; text-align:center; border:1px solid  rgb(25, 26, 71); padding:3px 15px; border-radius:1px} 

.lgrs12r{background-image:url(../img/manatscreen.jpg); background-size:80% 75%; background-repeat:no-repeat;background-position:100% 110px;}

.lgrs2{display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; height:400px;}

.lgrs2l{place-self:center right;} 

.lgrs2l1{font-size:18px; font-weight:bold; margin-bottom:10px;}

.lgrs2l2{font-size:8px; line-height:1.5; margin-bottom:40px; color:gray}

.lgrs2l3{font-size:8px; display:flex; line-height:1.5;}

.lgrs2l3 img{width:25px; margin-bottom:10px}

.lgrs2l3l :nth-child(2){font-weight:bold; padding-bottom:5px}

.lgrs2l3r :nth-child(2){font-weight:bold; padding-bottom:5px;}

.lgrs2l3l :nth-child(3){color:gray}

.lgrs2l3r :nth-child(3){color:gray;}

.lgrs2l3r{padding-left:18px}

.lgrs2r{background-image:url(../img/posinglady.jpg); background-size:85% 70%; background-repeat:no-repeat; background-position:10% 50%;}

.lgrs3{display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; height:300px;}

.lgrs3r{ place-self:center center; }

.lgrs3l{background-image:url(../img/ladyinflower.jpg); background-size:80% 55%; background-position:60% 30%; background-repeat:no-repeat;}

.lgrs3r1{font-size:18px; font-weight:bold; margin-bottom:10px;} 

.lgrs3r2{font-size:8px; line-height:1.5; color:gray}

.lgrs4{display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; height:300px;}

.lgrs4r{ place-self:center center; }

.lgrs4l{background-image:url(../img/ladyandman.jpg); background-size:80% 65%; background-position:60% 50%; background-repeat:no-repeat;}

.lgrs4r1{font-size:18px; font-weight:bold; margin-bottom:10px;} 

.lgrs4r2{font-size:8px; line-height:1.5; color:gray}

.lgrs5{display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr; height:300px;}

.lgrs5r{ place-self:center center; }

.lgrs5l{background-image:url(../img/footon@.jpg); background-size:80% 60%; background-position:60% 50%; background-repeat:no-repeat;}

.lgrs5r1{font-size:18px; font-weight:bold; margin-bottom:10px;} 

.lgrs5r2{font-size:8px; line-height:1.5; color:gray}

.lgrs5r :nth-last-child(1){background-color: rgb(25, 26, 71); color:white; font-size:8px; display:inline-block; width:100px; text-align:center; padding:5px 10px; margin-top:30px; border-radius:1px;} 

.curvebox{height:70px; background-color:rgb(243,246,255); border-top:2px solid white;}

.curve{background-color:white; width:100%; height:100%; clip-path:ellipse(57% 40% at 50% 0%)}

.lgrs6{height:300px; background-color:rgb(243,246,255); text-align:center;}

.lgrs6 > :nth-child(1){font-size:18px; font-weight:bold; margin-bottom:10px;}

.lgrs6 > :nth-child(2){font-size:8px; line-height:1.5; margin-bottom:20px; color:gray}

.lgrs6 > :nth-child(3){font-size:30px; font-weight:bold; margin-bottom:5px;}

.lgrs6 > :nth-child(4){font-size:9px; margin-bottom:40px;}

.lgrs6 > :nth-child(5){font-size:8px; color:gray}

.lgrs6 > :nth-child(6){ background-color: rgb(25, 26, 71); color:white; font-size:9px; display:inline-block; width:120px; text-align:center; padding:5px 20px; margin-top:8px; border-radius:1px}

.lgrs7{background-color:rgb(231,236,255); padding:0 60px}

.lgrs71{display:flex; align-items:center; justify-content:space-between; padding-top:30px; padding-bottom:20px; border-bottom:1px solid gray}

.lgrs71 p{font-size:8px;}

.lgrs71 > :nth-child(1){color:gray}

.lgrs71 > :nth-child(2){font-weight:bold; font-size:12px; text-align:center;}

.lgrs71 > :nth-child(3){color:white; padding:3px 0; display:flex; justify-content:flex-end;}

.lgrs71 span{background-color: rgb(25, 26, 71); padding:3px 13px; border-radius:1px}

.lgrs71 p{flex-basis:33.3%;}


.lgrs72{display:flex; align-items:center; justify-content: space-between; padding:20px 0 30px 0;}

.lgrs72 p{font-size:8px;}

.lgrs72 > :nth-child(1){display:flex; justify-content:space-between; padding-right:40px; flex-basis:33.3%; text-align:center; color:gray}

.lgrs72 > :nth-child(2){display:flex; justify-content:space-between; flex-basis:33.3%; text-align:center; padding-left:35px}

.lgrs72 img{width:9px}


.right-group{display:grid; grid-template-columns:repeat(3, 1fr); grid-template-rows:repeat(4, 1fr); column-gap:20px; row-gap:160px;
}

.itemdisplay{background-color:white; padding-left:45px; height:450px; display:grid; grid-template-columns:1fr 1fr; grid-template-rows:1fr;}

.itemdivide{padding-top:15px}


.left, .right{padding-left:30px; padding-top:60px;} 

.right{justify-self:center; align-self:center; padding:0; width:75%}

.left1, .right1{font-size:18px; font-weight:bold; margin-bottom:10px;}

.left2, .right2{font-size:8px; line-height:1.5; margin-bottom:35px; color:gray}

.left3, .right3{font-size:8px; display:flex; line-height:1.5;}

.left3 img, .right3 img{width:25px; margin-bottom:10px}

.left3l :nth-child(2), .right3l :nth-child(2){font-weight:bold; padding-bottom:5px}

.left3r :nth-child(2), .right3r :nth-child(2){font-weight:bold; padding-bottom:5px;}

.left3l :nth-child(3), .right3l :nth-child(3){color:gray} 

.left3r :nth-child(3), .right3r :nth-child(3){color:gray}


.left3r{padding-left:18px}

.right3r{padding-left:50px}


.phoneimg{width:70%; height:90%; align-self:end; }

.laughingimg1{height:100%; width:100%;}

.itemdisplay2{padding-left:0; grid-template-columns:40% 70%;}

.itemdisplay3{height:350px}

.item6{grid-column:1; grid-row:3}



.item61{display:flex; align-items:center; height:20px; justify-content: space-between; background-color:white; padding:20px 100px; margin-bottom:15px}

.item61 .links{color:gray; font-size:8px;}

.item61 > :nth-child(1){font-weight:900; font-size:16px; color:blue; }

.item61 > :nth-child(2) :last-child {background-color: rgb(25, 26, 71); padding:3px 10px; color:white; border-radius:1px}

.item61 > :nth-child(2){display:flex; justify-content:space-between; gap:25px; align-items:center; font-size:8px;}


.item62{display:flex; align-items:center; height:20px; justify-content: space-between; background-color:white; padding:20px 100px;}

.item62 .links{color:gray; font-size:8px;}

.item62 > :nth-child(1){font-weight:900; font-size:16px; color:blue; }

.item62 > :nth-child(2){display:flex; justify-content:space-between; gap:25px; align-items:center; font-size:8px;}

.item62 > :nth-child(3){display:flex; gap:15px}

.item62 > :nth-child(3) :first-child {background-color: rgb(25, 26, 71); padding:3px 10px; color:white; border-radius:1px; font-size:8px;}

.item62 > :nth-child(3) :last-child {background-color: rgb(255, 209, 103) ; padding:3px 20px; color:rgb(25,26,71); border-radius:1px; font-size:8px; font-weight:bold;}